# Maven output
target/

# Keep Maven Wrapper JAR if the project uses Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar

# Kotlin
.kotlin/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# VS Code
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Java compiled files
*.class

# Logs and temporary files
*.log
*.tmp
